.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    
    &--primary {
        background-color: rgb(62, 3, 129);
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}