.party {
    padding: 24px 0 100px;
    background-image: linear-gradient(to bottom, rgba(23, 99, 187, 0.753), #000);

    &__details {
        display: flex;
        align-items: center;

        &__tittle {
            margin-bottom: 24px;
        }
    }

    &__image {
        height: 300px;
        margin-right: 64px;
        border-radius: 5px;
    }

    @media (max-width: 640px) {
        
        &__details {
            display: block;
            align-items: center;

            &__about {
                text-align: center;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            margin: 24px 0;
        }
    }
}